
.container{
width:100%;

}



    .container .picture{
        float:right;
        width:100px;
        margin-top:-10px;
        }

body {
    background-color: #e9ecef;
    
}

.jumbotron{
    background-color: #fff;
    height:90%;

}

.card,.col-sm{
padding:20px;

}
