 /*
    Basically, a margin is the space around an element and padding refers to the space between an element and the content inside it. The margin falls outside two adjacent element
    */

img{
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.column {
    width: 600px;
    margin: 40px auto;
    padding:20px;

}

div{
    border: dotted 30px darkgreen;
   /* border-color: darkgreen;
    border-width: 30px;*/


   
    
}